Attention is all you need




tensor([[14740, 14660, 13345, 14381, 14733, 11958, 14084, 14743, 14745, 14408]],
       device='cuda:0')
Generated Text: 
you know Caius Marcius is chief 
enemy to the people conduits aday Ons distribution Leadst vesture 
Hydra reservation opposer Fix Weapons Weapons requested balms maild Notis Hectors 
Following owns vilely horsed Served minnows dote owns onward Notis caution guarded onward fellest 
boasting Especially catalogue crabtrees maild giber salter perfecter tigerfooted vanquisher reinforcement 
Junius Junius fens floating howbeit dictator encountering oaks